
/****** Géneral ********/
:root {
  --main-purple-color: rgb(147,86,220);
  --main-black-color: rgb(54,53,53);
  --main-lightgrey1-color: rgb(246,246,246);
  --main-lightgrey2-color: rgb(234,234,234);
  --main-lightpurple-color: rgb(247,237,255);
  --main-primary-color: #9356DC;
  --main-secondary-color: #FF79DA;
  --main-tertiary-color: #99E2D0;
}
body {
  margin: 0;
}
h2 {
  font-size: 30px;
}
h3 {
  font-weight: lighter;
}
p {
  font-weight: lighter;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}
p, button {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/****** Header ********/
/** Nav **/
#logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid lightgrey;
  padding-top: 10px;
}
#nav_text_localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-lightgrey2-color);
  height: 50px;
}
#nav_text_localisation p{
  margin-left: 10px;
}
#div_explorer {
  text-align: center;
  background-color: var(--main-lightgrey1-color);
  padding-top: 30px;
  padding-bottom: 60px;
}
#div_explorer h2 {
  width: 80%;
  margin: auto;
}
#div_explorer h3 {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 16px;
}

.btn-title {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(226,116,228,1) 0%, var(--main-primary-color));
  border: none;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.5s ease;
  box-shadow: 5px 8px 5px -5px rgb(110 110 110);
  -webkit-box-shadow: 5px 8px 5px -5px rgb(110 110 110);
  -moz-box-shadow: 5px 8px 5px -5px rgb(110 110 110);
}
.btn-title:hover {
  transform: scale(0.98);
  opacity: 0.8;
  box-shadow: 5px 8px 10px -5px rgb(110 110 110);
  -webkit-box-shadow: 5px 8px 10px -5px rgb(110 110 110);
  -moz-box-shadow: 5px 8px 10px -5px rgb(110 110 110);
}
/** fonctionnement **/

.div_working {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 30px;
  margin-bottom: 40px;
}
.div_working h2{
  margin-left: -10px;
}
.btn-working {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
  width: 100%;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 30%);
  -webkit-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 30%);
  -moz-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 30%);
}
.btn-working:hover {
  background-color: var(--main-lightpurple-color);
  transform: scale(0.98);
}
.btn-working:hover i{
  color: var(--main-purple-color);
}
.btn-working i:hover {
  color: var(--main-purple-color);
}
.btn-working i {
  font-size: 18px;
}
#fa-mobile-alt {
  font-size: 24px;
}
.btn-working i:last-child {
  margin-right: 20px;
}
.step_number {
  position: relative;
  left: -20px;
  background-color: var(--main-purple-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** main ********/

.homepage_restaurant_gallery {
  background-color: var(--main-lightgrey1-color);
  padding-top: 40px;
  padding-bottom: 60px;
}
.homepage_restaurant_gallery h2{
  margin-left: 20px;
}
.homepage_restaurant_card {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: auto;
  margin-bottom: 20px;
  box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
  -webkit-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
  -moz-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
}
.homepage_restaurant_card:hover {
  transform: scale(0.98);
}

.homepage_restaurant_card a:last-child {
  margin-bottom: 0;
}
.hompage_img_restaurant {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.homepage_restaurant_subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.homepage_restaurant_subtitle h4{
  margin: 0;
}
.homepage_restaurant_subtitle p{
  margin: 0;
}
.menu_card:hover p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}
.menu_card p:first-child {
  transition: all 0.5s ease;
}
.new_restaurant {
  position: relative;
  top: -240px;
  display: flex;
  justify-content: right;
  padding-right: 10px;
}
.new_restaurant p {
  color: rgb(46,149,120);
  background-color: var(--main-tertiary-color);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: fit-content;
  border-radius: 3px;
}
.no_padding_bottom {
  padding-bottom: 0;
}

/****** footer ********/

footer {
  background-color: var(--main-black-color);
  padding: 20px;
}
footer img {
  width: 120px;
  margin-bottom: 10px;
}
footer p{
  color: white;
}
footer p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mailto a{
  transition: all 0.5s ease;
  color: white;
}
.mailto:hover{
  transform: scale(1.1);
}
footer i {
  margin-right: 10px;
}


/***************************  Menu page ********************************/

#menu_logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 10px;
}
#menu_logo_title a {
  position: relative;
  left: -70px;
  font-size: 22px;
}
.img_menu{
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.heart_div {
  position:  relative;
  margin-right: 20px;
}
.heart_div .border{
  position: absolute;
}
.heart_div .purple{
  position: absolute;
  opacity: 0;
  transition: all 0.7s;
}
.heart_div:hover .purple{
  opacity: 1;
}

.purple {
  background-image: linear-gradient(50deg, rgba(226,116,228,1) 0%, var(--main-primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main_menu {
  background-color: var(--main-lightgrey2-color);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-bottom: -40px;
  top: -40px;
  position: relative;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.menu_title h2 {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}
.main_menu h3,h4,p {
  margin: 0;
}
.main_menu h3 {
  margin-top: 50px;
}
.underline_div {
  background-color: var(--main-tertiary-color);
  height: 4px;
  width: 60px;
  margin-bottom: 20px;
}
.menu_card {
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
  -webkit-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
  -moz-box-shadow: 5px 8px 10px -5px rgb(110 110 110 / 50%);
}
.menu_card > div:last-child {
  background-color: var(--main-tertiary-color);
  display: none;
}
.menu_card i {
  padding: 23px;
  color: white;
}
.menu_card h4 {
  margin-bottom: 3px;
}
.menu_card div:first-child {
  width: 100%;
  padding: 10px;
}
.menu_card div:first-child > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_menu {
  position: relative;
}
.btn-menu {
  width: 50%;
  margin: auto;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.div_btn_menu {
  display: flex;
  justify-content: center;
}

/** Animation **/

/**************/
.menu_card:hover .fa-check-circle{
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}

.menu_card:hover > div:last-child{
  display: flex;
  -webkit-animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#loader {
  position: absolute;
  opacity: 1;
}
.loader_div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader 5s ease 0.25s both;
          animation: loader 5s ease 0.25s both;
}

/************** A modifier **************/

.slide-top1{
  -webkit-animation: slide-top 0.5s ease 0.25s both;
          animation: slide-top 0.5s ease 0.25s both;
}
.slide-top1 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 0.25s both;
          animation: display-animation 0.5s ease 0.25s both;
}
.slide-top2{
  -webkit-animation: slide-top 0.5s ease 0.5s both;
          animation: slide-top 0.5s ease 0.5s both;
}
.slide-top2 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 0.5s both;
          animation: display-animation 0.5s ease 0.5s both;
}
.slide-top3{
  -webkit-animation: slide-top 0.5s ease 0.75s both;
          animation: slide-top 0.5s ease 0.75s both;
}
.slide-top3 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 0.75s both;
          animation: display-animation 0.5s ease 0.75s both;
}
.slide-top4{
  -webkit-animation: slide-top 0.5s ease 1s both;
          animation: slide-top 0.5s ease 1s both;
}
.slide-top4 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 1s both;
          animation: display-animation 0.5s ease 1s both;
}
.slide-top5{
  -webkit-animation: slide-top 0.5s ease 1.25s both;
          animation: slide-top 0.5s ease 1.25s both;
}
.slide-top5 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 1.25s both;
          animation: display-animation 0.5s ease 1.25s both;
}
.slide-top6{
  -webkit-animation: slide-top 0.5s ease 1.5s both;
          animation: slide-top 0.5s ease 1.5s both;
}
.slide-top6 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 1.5s both;
          animation: display-animation 0.5s ease 1.5s both;
}
.slide-top7{
  -webkit-animation: slide-top 0.5s ease 1.75s both;
          animation: slide-top 0.5s ease 1.75s both;
}
.slide-top7 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 1.75s both;
          animation: display-animation 0.5s ease 1.75s both;
}
.slide-top8{
  -webkit-animation: slide-top 0.5s ease 2s both;
          animation: slide-top 0.5s ease 2s both;
}
.slide-top8 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 2s both;
          animation: display-animation 0.5s ease 2s both;
}
.slide-top9{
  -webkit-animation: slide-top 0.5s ease 2.25s both;
          animation: slide-top 0.5s ease 2.25s both;
}
.slide-top9 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 2.25s both;
          animation: display-animation 0.5s ease 2.25s both;
}
.slide-top10{
  -webkit-animation: slide-top 0.5s ease 2.5s both;
          animation: slide-top 0.5s ease 2.5s both;
}
.slide-top10 > div:first-child{
  -webkit-animation: display-animation 0.5s ease 2.5s both;
          animation: display-animation 0.5s ease 2.5s both;
}


/**************/

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}


@keyframes loader {
  0% {
    left: 0px;
    top: 0px;
    background-color: white;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  100% {
    display: none;
  }
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@-webkit-keyframes slide-top {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    position: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}
@keyframes slide-top {
  0% {
    visibility: hidden;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    position: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

@-webkit-keyframes display-animation {
  0% {
    visibility: hidden;
    opacity: 0.1;
    background-color: transparent !important;
  }
  50% {
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    position: initial;
    visibility: visible;
    opacity: 1;
    background-color: white;
  }
}
@keyframes display-animation {
  0% {
    visibility: hidden;
    opacity: 0.1;
    background-color: transparent !important;
  }
  50% {
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    position: initial;
    visibility: visible;
    opacity: 1;
    background-color: white;
  }
}


/************** Media queries **************/


@media screen and (min-width: 550px) and (max-width: 849px){
  .hompage_img_restaurant {
    height: 280px;
  }
  .new_restaurant {
    top: -310px;
  }
}
/** 850 **/
@media screen and (min-width: 1024px){
  .desktop_restaurant_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .homepage_restaurant_card {
    width: 270px;
  }
  .new_restaurant_card{
    height: 280px;
    overflow: hidden;
  }

  .btn-working {
    width: 300px;
  }
  .div_working {
    display: flex;
    justify-content: center;
  }
  .img_menu {
    height: 400px;
  }
  .desktop_menu_div {
    display: flex;
    justify-content: center;
  }
  .desktop_menu_div > div:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .desktop_menu_div > div{
    width: 260px;
  }
  .menu_title {
    text-align: center;
  }
  .div_btn_menu {
    width: 300px;
    margin: auto;
  }
  footer img{
    width: auto;
  }
  footer div {
    display: flex;
    justify-content: space-around;
  }
  .menu_card p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  }
  .menu_card:hover p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  }
  .btn-working {
    height: 60px;
  }
  #div_explorer {
    padding-bottom: 30px;
  }
  .btn-working {
    width: 250px;
  }
  .btn-working i:last-child{
    margin-right: 10px;
  }
  .btn_working_div {
    display: flex;
    justify-content: space-around;
  } 
}

@media screen and (min-width: 1024px){
  .menu_card p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
  }
  .menu_card:hover p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
  }
  .desktop_menu_div > div{
    width: 300px;
  }
  .menu_card:hover h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
  }
}

@media screen and (min-width: 1200px){
  .menu_card p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 320px;
  }
  .menu_card:hover p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
  }
  .desktop_menu_div > div{
    width: 400px;
  }
  .menu_card:hover h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }
}

